 # Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Legume Data Portal # the title of your site should go here
email: legumephylogenywg@gmail.com
description: >- # this means to ignore newlines (until baseurl:)
  This data portal aims to give information about the Legume family, based on the expertise of the Legume Phylogeny Working Group (LPWG) and GBIF.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://www.legumeportal.org"
#twitter_username: jekyllrb
#github_username:  jekyll

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-remote-theme

remote_theme: gbif/jekyll-hp-base-theme

# for usage in the standard privacy layout
privacy:
  name: Legume Data Portal
  domain: www.legumedata.org
  contactEmail: legumephylogenywg@gmail.com
  helpdeskEmail: legumephylogenywg@gmail.com

# The text for the terms can be changed by adding translations for 'terms', 'acceptTerms' and 'rejectTerms' in `/_data/translations.yml`.
siteMeasurements:
  enable: true # When enabled there will be a popup asking the user for their consent. If they accept then the function "attachMeasurements" will be called. You can overwrite this function by adding a file `/_includes/js/measure.js` and replace the function.
  GA_ID: "G-SJ1GT3LP4Q" # Your Google analytics ID. Sometimes they start with UA-XXXXX-X other times with G-XXXXXXXX depending on how you set it up
  termsVersion: "2021-08-09" # A version number for your terms. If you change this, then the users will see the popup again asking them to confirm/reject anew.


algae:
  rootLang: en
  latestPostLimit: 4
  logo: /assets/images/logo_banner_transparentbg.png  # Logo in navbar, will be displayed with 28px height
  logoAndTitle: false           # include the title next to the logo
  archive_permalink: /news/       # Permalink of page using archive.html layout, required when using post categories
  style:
    # square: false               # Should corners be square or rounded
    colors:
      primary: "#d66813"          # Primary color of your brand. Use HEX code. Used for buttons and links
      links: "#d66813"            # What color should links have. Use a HEX code. DEfault is primary color. 
    coloredHeadlineLinks: false   # If a headline is a link, then use the link color. Default is true. 
  navbar:                         # RELATED TO NAVIGATION BAR
    # brandBackground: green     # Define a custom background for the logo/title in the top navigation bar
    color: "#FFFFFF"             # What color should the navbar be?
    hasWhiteText: false          # Should the text color be white?

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# be aware that COL ids are unstable https://github.com/CatalogueOfLife/backend/issues/980 - so this might not work tomorrow.
col:
  gbifDatasetKey: f382f0ce-323a-4091-bb9f-add557f3a9a2
  version: "1.0" # There is no latest version we can get, so we have to rely on a specific version. If the site appears broken, then this probably needs to be updated to the latest version
  catalogueKey: "2304" #WCVP Fabaceae dataset
  defaultTaxonKey: "x4"
  #catalogueKey: "2232" entire WCVP dataset
  #defaultTaxonKey: "x4VX" # This value have been observed to change over time, this value goes with catalogueKey = 2232

exclude:
  - .LICENSE
  - .netlify.toml
  - .README.md

defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: "page"
      lang: en
  -
    scope:
      path: "_posts" # an empty string here means all files in the project
    values:
      layout: "post"
      permalink: "/post/:year/:slug/"   # Use /post/yyyy/{filename}/ as permalink for all posts
  -
    scope:
      path: ""
    values:
      lang: en
  -
    scope:
      path: "fr/"
    values:
      lang: fr
  -
    scope:
      path: "_posts/fr/" # an empty string here means all files in the project
      type: "posts"
    values:
      layout: "post"
      permalink: "/fr/post/:year/:slug/"   # Use /post/yyyy/{filename}/ as permalink for all posts
